.breadcrumbs-cont {
  font-weight: 500;

  a {
    color: $uss;
    transition: .1s;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      color: $gold;
      text-decoration: underline;
    }
  }
}

.post-gallery {
  &-gal {
    &--img {
      min-height: 100px;
      height: calc(100% - 50px);
    }
  }
}

.gallery-list-item__body--link {
  font-size: 14px;
  color: #393838;
  transition: .1s;

  &:hover {
    color: $gold;
  }
}

.widget, footer, .about-list {
  ul {
    padding: 0;
    list-style: none;
  }
}

ul {
  list-style: none;
}
